@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}


html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: relative;
}

body {
  font-family: Open Sans, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #28142d;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  background-color: #f5f3f5;
}

ul {
  list-style-type: none;
  font-size: 1em;
  margin-top: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

ul li {
  line-height: 32px;
  margin-top: 3px;
}

ul li:before {
  content: "\A";
  width: 6px;
  height: 6px;
  position: absolute;
  margin-left: -23px;
  margin-top: 12px;
  background-color: #e6e6e6;
}

ul.nav {
  display: inline-block;
  padding: 0;
}

ul.nav li {
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  padding: 4px 16px;
}

ul.nav li:hover {
  color: #8d4aa0;
}

ul.nav li.active {
  background-color: #8d4aa0;
  color: #ffffff;
  border-radius: 2px;
}

ul.nav li:before {
  content: "\A";
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  background-color: #fff;
}


h1, h2 {
  font-weight: 200;
}

h1.title {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2.project {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

p {
  letter-spacing: 0.02em;
  line-height: 2em;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

p a {
  color: #8d4aa0;
  text-decoration: none;
  border-bottom: 1px solid #eee1f1;
}

.post {
  text-align: left;
}

.post h3 {
  font-weight: 500;
  max-width: 700px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.post h2 {
  letter-spacing: 0.05em;
  line-height: 1.5em;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-top: 1.25em;
  text-transform: uppercase;
  font-size: 1em;
}

p img {
  max-width: 600px;
  margin: 2em 50px;
}

.header h1.title{
  font-size: 1.5em;
  line-height: 2em;
}

.header h1.title a{
  text-decoration: none;
  color: #28142d;
  width: 1000px;
  margin: 0 auto;
  font-weight: 500;
}

#header {
  background-color: #fff;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #e6e6e6;
  z-index: 1;
}

#header a {
  text-decoration: none;
  font-size: 26px;
  line-height: 36px;
  color: #28142d;
  font-weight: 200;
  width: 50%;
  display: inline-block;
}

.main-container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

#main {
  height: 100%;
  width: 1132px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  text-align: left;
}

#main.nofilter {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

#landing {
  -webkit-transition: all 0.5s linear;
  background-color: #fff;
  min-height: 100%;
  position: relative;
  text-align: left;
  transition: all 0.5s linear;
  vertical-align: top;
  zoom: 1;
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  overflow: hidden;
  /* background-image: url('/img/background.png'); */
  background-size: cover;
  background-position: center;
  background-color: white;
  z-index: 5;
}

#landing-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#landing-content {
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  text-align: center;
  position: relative;
}

.landing-message-1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
  line-height: 2em;
}

.landing-message-2 {
  font-size: 1.5em;
  letter-spacing: 0.025em;
  line-height: 1em;
}

.trigger-container {
  bottom: 3em;
  margin-top: 3em;
  text-align: center;
  width: 100%;
}

.trigger {
  background: #f3f3f3;
  border: 2px solid #e6e6e6;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.75em;
  text-transform: uppercase;
  width: 10em;
}

#featured-projects {
  margin: 0 auto 0 auto;
  width: 1132px;
  max-width: 100%;
}

.filter {
  width: 720px;
  max-width: 100%;
  text-align: center;
  vertical-align: top;
  margin: 20px auto;
}

.filter-projects{
}

.container.featured {
  margin: 7px;
  vertical-align: top;
  width: 360px;
  box-sizing: border-box;
  border: 2px solid #e8e6e8;
  padding: 10px;
  background-color: #fff;
  display: none;
}


.container.featured:hover {
  border-top: 2px solid #8d4aa0;
}

.container.featured:hover .feature-desc .feature-title {
  color: #8d4aa0;
}

/* .container.featured:nth-child(1n) { */
  /* border-top: 5px solid #DE073E; */
/* } */

/* .container.featured:nth-child(2n) { */
  /* border-top: 5px solid #FF7100; */
/* } */

/* .container.featured:nth-child(3n) { */
  /* border-top: 5px solid #FFBE00; */
/* } */

.container.museum {
  border: 2px solid #e6e6e6;
  border-top: 5px solid #e6e6e6;
  margin: 50px auto;
  max-width: 68.5em;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  background-color: #fff;
}

.container.project {
  margin: 2em auto;
  max-width: 68em;
  vertical-align: middle;
  width: 100%;
  border-top: 2px solid #e8e6e8;
  background-color: #fff;
  padding: 50px;
  box-sizing: border-box;
}

.meta {
  display: block;
  margin: 1em auto 2em auto;
  text-align: center;
}

.index-project {
  background-color: #f3f3f3;
  cursor: pointer;
  margin: 9.5px;
  display: inline-block;
  padding: 4.864px;
  border: 1px solid #e6e6e6;
  width: 250px;
  height: 184px;
  box-sizing: border-box;
  background-color: white;
}

.index-project-img {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: white;
}

@media screen and (max-width: 1085px){
  .index-project {
    width: 31.76157%;
    height: 231px;
    margin-right: 0;
  }
}

@media screen and (max-width: 775px){
  .index-project {
    width: 48%;
    height: 288px;
    margin: 0.25em;
  }
}

@media screen and (max-width: 500px){
  .index-project {
    width: 98%;
    height: 368px;
    margin: 0.25em;
  }
}

.main-image {
  text-align: center;
  margin-bottom: 2em;
}

.main-image img {
  max-width: 700px;
  max-height: 500px;
}

.feature-project {
  cursor: pointer;
}

.feature-image {
  width: 335px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  height: 225px;
}

.feature-image img {
  width: 100%;
}

.feature-desc {
  font-size: .9em;
  margin-left: 5px;
  width: calc(100% - 10px);
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.feature-title {
  font-size: .9em;
  font-weight: 500;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 10px auto 5px auto;
}

.feature-summary {
  line-height: 1.5em;
  min-height: 3em;
}

.heading {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5em;
  line-height: 3em;
  background-color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

section#footer {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  margin: 2em 0;
  text-align: center;
  letter-spacing: 0.025em;
}
