<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Clay Gimenez</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/jquery-1.11.1.min.js"></script>
        <script src="/js/snap.svg-min.js"></script>
        <script src="/js/portfolio.js"></script>
        <link rel="icon" type="image/png" href="/img/icon.png">
    </head>
    <body>

<div id="landing">
  <div id="landing-container">
    <svg id="landing-svg"></svg>
    <div id="landing-content">
      <div class="landing-message-1">Clay Gimenez</div>
      <div class="landing-message-2">Builder of things, slayer of giant monsters</div>
    </div>
  </div>
</div>

      <div class="main-container">
        <div class="header" style="display: none;">
          <h1 class="title"><a href="/">Clay Gimenez</a></h1>
        </div>

        <div class="filter-projects">
          <div class="filter">
            <ul class="nav">
              <li data-category="recent" class="active">Recent</li>
              <li data-category="web-development">Web Development</li>
              <li data-category="ui-ux">UI/UX</li>
              <li data-category="prototyping">Prototyping</li>
              <li data-category="graphics">Graphics</li>
              <li data-category="etc">etc</li>
            </ul>
          </div>

          <div id="main">
            {{ content }}
          </div>
        </div>

        <section id="footer">
        Copyright 2015 Clay Gimenez
        </section>
      </div>


      <script>
        $('document').ready(function() {


          $('#featured-projects').children().filter(function() {
            return $(this).data('category').match(/recent/);
          }).css('display', 'inline-block');


          $('.container.featured').on('mouseenter', function(e) {
            target = e.currentTarget;
            color = target.dataset.color || '#8d4aa0';
            $titleDiv = $(target).children('.feature-project').children().children().first();

            $titleDiv.css('color', color);
            return $(target).css('border-top', "2px solid " + color);
          });


          $('.container.featured').on('mouseleave', function(e) {
            target = e.currentTarget;
            $titleDiv = $(target).children('.feature-project').children().children().first();

            $titleDiv.css('color', '#28142d');
            return $(target).css('border-top', '2px solid #e8e6e8');
          });


          $('ul.nav li').on('click', function(e) {
            $elem = $(e.target);
            category = e.target.dataset.category;

            // change classes on li's
            $('ul.nav li').removeClass('active');
            $elem.addClass('active');

            // show projects matching filter
            $('#featured-projects').children().filter(function() {
              return $(this).data('category').match(category);
            }).css('display', 'inline-block');

            // and hide projects not matching filter
            $('#featured-projects').children().filter(function() {
              return !$(this).data('category').match(category);
            }).hide();


          });


        });
      </script>

    </body>
</html>
